
body{
  text-align: center;
}

.main_container{
  margin-top: 50px;
  width: 100%;
  vertical-align: middle;
}

.banner_container{
  width: 100%;
  height: 200px;
  text-align: center;
}

.main_title{
  height: 100%;
  display:flex;
  align-items: center;
  justify-content: center;
}


.video{
  height: 500px;
  width: 100%;
  background-color: black;
  padding-left: 5%;
  padding-right: 5%;
}

.videofullscreen{
  width: 100%;
  height: 100%;
}

#banner{
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("..\assets\images\banner-about.jpg");
  color: white;
}

#photo1{
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-image: url("..\assets\images\member1.png");
}

#photo2{
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-image: url("..\assets\images\member2.jpg");
}
#photo3{
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-image: url("..\assets\images\member3.jpg");
}
#photo4{
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-image: url("..\assets\images\member4.jpg");
}


.main{
  width: 100%;
  text-align: center;

}

.member{
  height: 300px;
  width: 100%;
  padding: 20px
}

.membersdisplay{
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
}

div{
  display: inline-block;
}

.left, .right{
  width: 49%;
  height: 100%;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
}

.member_photo{
  height: 100%;
  width: 100%;
}

.member_photo img{
  width: 200px;
}
